@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none;
}
.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  background: #986b24 !important;
}
.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  background: #986b24 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active{
  width: 20px !important;
  height: 20px !important;
  background: #ff0000 !important;

}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    /* bottom: var(--swiper-pagination-bottom, 8px); */
    /* bottom:-2% !important;
    z-index: 999 !important; */
    /* margin-top: -20% !important; */
    

}